

<p-columnFilter [field]="field" matchMode="{{ options.length > max ? 'in':'equals'}}" [showMenu]="false">
    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
        @if(options.length > max){
            <p-multiSelect [ngModel]="value" [options]="options" (onChange)="filter($event.value)" [placeholder]="placeholder" optionLabel="">
            <ng-template let-option pTemplate="item">
                <div class="inline-block vertical-align-middle">
                    <span class="ml-1 mt-1">{{option}}</span>
                </div>
            </ng-template>
        </p-multiSelect>
        } @else {
            <p-dropdown [ngModel]="value" [options]="options" (onChange)="filter($event.value)" [placeholder]="placeholder">
                <ng-template let-option pTemplate="item">
                     {{option}}
                </ng-template>
            </p-dropdown>
        }
    </ng-template>
</p-columnFilter>